.change-password-child {
  position: absolute;
  top: 110px;
  left: 21px;
  border-radius: var(--br-5xs);
  background-color: var(--primary-pure-white);
  width: 388px;
  height: 419px;
}
.change-password1 {
  position: absolute;
  top: 127px;
  left: 70px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-gray-600);
}
.pharrow-left-bold-icon5 {
  position: absolute;
  top: 130px;
  left: 37px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}
.group-child26 {
  position: absolute;
  top: 23px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--primary-pure-white);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 336px;
  height: 42px;
}
.current-password,
.mdihide-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.mdihide-icon {
  height: 24.62%;
  width: 4.76%;
  top: 55.38%;
  right: 8.63%;
  bottom: 20%;
  left: 86.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.change-password-item,
.rectangle-parent19 {
  position: absolute;
  top: 195px;
  left: 47px;
  width: 336px;
  height: 65px;
}
.change-password-item {
  top: 299px;
  border-radius: var(--br-xs);
  background-color: var(--primary-pure-white);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  height: 42px;
}

.mdihide-icon1 {
  position: absolute;
  height: 1.72%;
  width: 3.72%;
  top: 33.48%;
  bottom: 64.81%;
  left: 78.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.change-password-inner {
  position: absolute;
  top: 380px;
  left: 47px;
  border-radius: var(--br-xs);
  background-color: var(--primary-pure-white);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 336px;
  height: 42px;
}
.mdihide-icon2 {
  position: absolute;
  height: 1.72%;
  width: 3.72%;
  top: 42.17%;
  bottom: 56.12%;
  left: 78.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.new-password {
  position: absolute;
  top: 276px;
  left: 47px;
}
.confirm-password,
.group-child27 {
  position: absolute;
  top: 357px;
  left: 47px;
}
.group-child27 {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-goldenrod);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 336px;
  height: 42px;
}
.update {
  position: absolute;
  top: 19.05%;
  left: 40.18%;
  font-weight: 500;
}
.rectangle-parent20 {
  position: absolute;
  top: 461px;
  left: 47px;
  width: 336px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--primary-pure-white);
}

.change-password {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 931px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--system-colours-label-colour-primary-light);
  font-family: var(--font-ibm-plex-sans);
}
