.name {
  position: relative;
  font-weight: 500;
}
.name-parent {
  border-radius: var(--br-xl);
  background-color: var(--primary-pure-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-14xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
  font-family: var(--font-ibm-plex-sans);
}
