.hire-me-child {
  position: absolute;
  top: 110px;
  left: 21px;
  border-radius: var(--br-5xs);
  background-color: var(--primary-pure-white);
  width: 388px;
  height: 730px;
}
.your-education-courses1 {
  position: absolute;
  top: 127px;
  left: 70px;
  font-weight: 500;
}
.pharrow-left-bold-icon13 {
  position: absolute;
  top: 130px;
  left: 37px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}
.hire-me-item {
  position: absolute;
  top: 771px;
  left: 341px;
  width: 78px;
  height: 78px;
  cursor: pointer;
}
.hire-me-inner {
  position: absolute;
  top: 80px;
  left: 0;
  background-color: var(--color-gray-800);
  width: 430px;
  height: 778px;
}
.add-your-job {
  position: absolute;
  top: 46px;
  left: 99px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-darkslategray-200);
  text-align: center;
}
.group-child45 {
  position: absolute;
  top: 23px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--primary-pure-white);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 336px;
  height: 42px;
}
.your-name {
  position: absolute;
  top: 0;
  left: 0;
}
.rectangle-parent38 {
  position: absolute;
  top: 140px;
  left: 25px;
  width: 336px;
  height: 65px;
}
.frame-child25,
.frame-child26,
.frame-child27,
.frame-child28 {
  position: absolute;
  top: 244px;
  left: 25px;
  border-radius: var(--br-xs);
  background-color: var(--primary-pure-white);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 336px;
  height: 42px;
}
.frame-child26,
.frame-child27,
.frame-child28 {
  top: 406px;
}
.frame-child27,
.frame-child28 {
  top: 325px;
}
.frame-child28 {
  top: 487px;
}
.contact-number6 {
  position: absolute;
  top: 221px;
  left: 25px;
}
.experience-of-years,
.job-category1 {
  position: absolute;
  top: 383px;
  left: 25px;
}
.job-category1 {
  top: 302px;
}
.profile-image,
.your-cv-wrapper {
  position: absolute;
  top: 464px;
  left: 25px;
}
.your-cv-wrapper {
  top: 549px;
  width: 43px;
  height: 16px;
}
.frame-child29,
.rectangle-parent39 {
  position: absolute;
  left: 25px;
  width: 336px;
}
.rectangle-parent39 {
  top: 383px;
  height: 65px;
  display: none;
}
.frame-child29 {
  top: 568px;
  border-radius: var(--br-xs);
  background-color: var(--primary-pure-white);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  height: 42px;
}
.upload-cv5 {
  position: absolute;
  top: 464px;
  left: 25px;
  display: none;
}
.vector-icon29,
.vector-icon30 {
  position: absolute;
  height: 2.41%;
  width: 4.47%;
  top: 80.82%;
  right: 13.62%;
  bottom: 16.77%;
  left: 81.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon30 {
  top: 69.5%;
  bottom: 28.09%;
}
.group-child47 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-goldenrod);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 336px;
  height: 42px;
}
.add-job-role {
  position: absolute;
  top: 19.05%;
  left: 31.85%;
  font-weight: 500;
}
.rectangle-parent40 {
  position: absolute;
  top: 649px;
  left: 25px;
  width: 336px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--primary-pure-white);
}
.icround-close-icon5 {
  position: absolute;
  top: 10px;
  left: 348px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  cursor: pointer;
}
.icon-park-soliddown-one5 {
  position: absolute;
  top: 338px;
  left: 318px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.add-your-job-role-parent,
.icons-bar-child36 {
  position: absolute;
  background-color: var(--primary-pure-white);
}
.add-your-job-role-parent {
  top: 118px;
  left: 24px;
  border-radius: var(--br-xl);
  width: 387px;
  height: 718px;
  overflow: hidden;
  font-size: var(--font-size-xs);
  color: var(--system-colours-label-colour-primary-light);
}
.hire-me {
  position: relative;
  background-color: var(--color-whitesmoke-300);
  width: 100%;
  height: 932px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-600);
  font-family: var(--font-ibm-plex-sans);
}

