.your-course-child4 {
  position: absolute;
  top: 110px;
  left: 21px;
  border-radius: var(--br-5xs);
  background-color: var(--primary-pure-white);
  width: 388px;
  height: 730px;
}
.your-education-courses2 {
  position: absolute;
  top: 127px;
  left: 70px;
  font-size: var(--font-size-xl);
  font-weight: 500;
}
.pharrow-left-bold-icon15 {
  position: absolute;
  top: 130px;
  left: 37px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}
.your-course-child5,
.your-course-child6,
.your-course-child7 {
  position: relative;
  top: 194px;
  left: 43px;
  border-radius: var(--br-base);
  width: 346px;
  height: 248px;
  object-fit: cover;
  margin-bottom: 10px;
}
.your-course-child6,
.your-course-child7 {
  top: 458px;
}
.your-course-child7 {
  top: 722px;
}
.pending2 {
  position: relative;
  font-weight: 600;
}
.pending-container {
  position: absolute;
  top: 307px;
  left: 169px;
  border-radius: var(--br-8xs);
  background-color: var(--color-orange-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-8xl);
  color: var(--primary-pure-white);
}
.your-course-child8 {
  position: absolute;
  top: 771px;
  left: 341px;
  width: 78px;
  height: 78px;
  cursor: pointer;
}

.your-course1 {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 932px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-600);
  font-family: var(--font-ibm-plex-sans);
}
