.verification-item {
  position: absolute;
  height: 7.4%;
  width: 56.51%;
  top: 4.83%;
  right: 21.86%;
  bottom: 87.77%;
  left: 21.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-child100,
.more1 {
  position: absolute;
  top: 21.46%;
  left: 33.72%;
}
.group-child100 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-goldenrod);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  cursor: pointer;
}
.reset {
  position: absolute;
  top: 19.05%;
  left: 42.26%;
  font-weight: 500;
}
.rectangle-parent76 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.verification-inner1 {
  position: absolute;
  height: 4.51%;
  width: 78.14%;
  top: 57.19%;
  right: 10.93%;
  bottom: 38.3%;
  left: 10.93%;
  font-size: var(--font-size-xl);
  color: var(--primary-pure-white);
  font-family: var(--font-ibm-plex-sans);
}
.change {
  color: var(--color-goldenrod);
}
.we-have-sent-container {
  position: absolute;
  top: 240px;
  left: 54px;
  font-size: var(--font-size-sm);
  line-height: 25px;
  display: inline-block;
  width: 325px;
  color: var(--color-gray-300);
}
.verification1 {
  position: relative;
  background-color: var(--primary-pure-white);
  width: 100%;
  height: 932px;
  overflow-y: auto;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--primary-navy-black);
  font-family: var(--font-inter);
}
