.hire-me-child1 {
  position: absolute;
  top: 110px;
  left: 21px;
  border-radius: var(--br-5xs);
  background-color: var(--primary-pure-white);
  width: 388px;
  height: 730px;
}
.your-job-roles {
  position: absolute;
  top: 127px;
  left: 70px;
  font-weight: 500;
}
.pharrow-left-bold-icon14 {
  position: absolute;
  top: 130px;
  left: 37px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}
.hire-me-child2 {
  position: absolute;
  top: 771px;
  left: 341px;
  width: 78px;
  height: 78px;
  cursor: pointer;
}
.hire-me1 {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 932px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-600);
  font-family: var(--font-ibm-plex-sans);
}

.instance-parent1 {
  position: relative;
  top: 194px;
  left: 37px;
  width: 354px;
  height: 100px;
}

.component-inner {
  height: 100%;
  width: 100%;
  border-radius: var(--br-7xs);
  background-color: var(--primary-pure-white);
  box-shadow: 0 13px 12px -16px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  margin-bottom: 15px;
}
.years-of-experience {
  margin-top: 70px;
  margin-left: 37.21%;
  font-weight: 500;
}
.ellipse-icon,
.vector-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-icon {
  height: 80%;
  width: 20.67%;
  top: 10%;
  right: 74.68%;
  bottom: 10%;
  left: 4.65%;
  border-radius: 50%;
  object-fit: cover;
}
.vector-icon {
  display: flex;
  width: 15px;
  height: 10px;
  padding-top: 5px;
  padding-left: 90px;
}
.div {
  margin-left: 112px;
  font-weight: 500;
  margin-top: -12px;
  color: var(--color-dimgray-100);
}
.vector-parent {
  height: 100%;
  width: 100%;
  margin-top: 0px;
  margin-left: 40px;
}
.painting {
  font-weight: 500;
  margin-top: -80px;  
  font-size: var(--font-size-base);
  margin-left: 132px;
  font-weight: 700;
}

.painting a{
  color: var(--color-goldenrod);
  text-decoration: none;
}
.name-here{
  margin-left: 130px;
  margin-top: -100px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
}

.name-here-parent {
  height: 64%;
  width: 300px;
  right: 41.86%;
  bottom: 26%;
  left: 37.21%;
  text-align: center;
  
}
.rectangle-root {
  position: relative;
  width: 357px;
  height: 100px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-forestgreen);
  font-family: var(--font-ibm-plex-sans);
}

.group-child124 {
  height: 80%;
  width: 22.6%;
  margin-top: -75px;
  margin-bottom: 5%;
  margin-left: 5.78%;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
