.frame-child43,
.frame-child44 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-silver);
  box-shadow: 0 21px 17px -16px rgba(255, 255, 255, 0.25);
  width: 300px;
  height: 160px;
}
.frame-child44 {
  left: 312px;
}
.rectangle-parent105 {
  position: absolute;
  top: 0;
  left: 20px;
  width: 410px;
  height: 160px;
}
.all-items5,
.items1 {
  position: absolute;
  top: 333px;
  left: 21px;
  font-weight: 500;
}
.items1 {
  top: 335px;
  left: 352px;
  font-size: var(--font-size-sm);
  color: var(--color-goldenrod);
  text-align: right;
}
.group-child136,
.group-child137 {
  position: absolute;
  height: 20.06%;
  width: 100%;
  top: 53.67%;
  right: 0;
  bottom: 26.27%;
  left: 0;
  background-color: var(--color-goldenrod);
}
.group-child137 {
  height: 11.3%;
  width: 9.3%;
  top: 57.63%;
  right: 4.65%;
  bottom: 31.07%;
  left: 86.05%;
  border-radius: var(--br-7xs);
  background-color: var(--primary-pure-white);
}
.carbonlocation-icon5 {
  position: absolute;
  height: 5.65%;
  width: 4.65%;
  top: 60.45%;
  right: 6.98%;
  bottom: 33.9%;
  left: 88.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 354px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-300);
  font-family: var(--font-ibm-plex-sans);
}
