.frame-child33 {
  position: absolute;
  top: 261px;
  left: 0;
  background-color: var(--primary-pure-white);
  width: 430px;
  height: 48px;
}
.frame-child34 {
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-silver);
  box-shadow: 0 21px 17px -16px rgba(255, 255, 255, 0.25);
  width: 300px;
}
.frame-child34,
.frame-child35,
.rectangle-parent53 {
  position: absolute;
  top: 0;
  height: 160px;
}
.frame-child35 {
  left: 312px;
  border-radius: var(--br-7xs);
  background-color: var(--color-silver);
  box-shadow: 0 21px 17px -16px rgba(255, 255, 255, 0.25);
  width: 300px;
}
.rectangle-parent53 {
  left: 20px;
  width: 410px;
  margin-bottom: 100px;
}
.all-items3,
.special-sontractors {
  position: absolute;
  top: 333px;
  left: 21px;
  font-weight: 500;
}
.special-sontractors {
  top: 335px;
  left: 265px;
  font-size: var(--font-size-sm);
  color: var(--color-goldenrod);
  text-align: right;
}
.group-child77,
.group-child78 {
  position: absolute;
  height: 6.8%;
  width: 100%;
  top: 18.2%;
  right: 0;
  bottom: 75%;
  left: 0;
  background-color: var(--color-goldenrod);
}
.group-child78 {
  height: 3.83%;
  width: 9.3%;
  top: 19.54%;
  right: 4.65%;
  bottom: 76.63%;
  left: 86.05%;
  border-radius: var(--br-7xs);
  background-color: var(--primary-pure-white);
}
.carbonlocation-icon3 {
  position: absolute;
  height: 1.92%;
  width: 4.65%;
  top: 20.5%;
  right: 6.98%;
  bottom: 77.59%;
  left: 88.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent1,
.rectangle-parent52 {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 885px;
}
.rectangle-parent52 {
  top: 110px;
  height: 822px;
}
.international-contractors2 {
  position: absolute;
  top: 0;
  left: 25px;
  font-weight: 500;
}
.material-symbolshome-outline-icon3 {
  position: absolute;
  height: 88.89%;
  width: 7.96%;
  top: 5.56%;
  right: 92.04%;
  bottom: 5.56%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.international-contractors-parent {
  position: absolute;
  top: 386px;
  left: 18px;
  width: 201px;
  height: 18px;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray-600);
}

.material-symbolshome-outline30 {
  position: absolute;
  height: 46.51%;
  width: 71.43%;
  top: 0;
  right: 14.29%;
  bottom: 53.49%;
  left: 14.29%;
  overflow: hidden;
}

.international-contractors1 {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 932px;
  bottom: 0;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-300);
  font-family: var(--font-ibm-plex-sans);
}
