.group-child81 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--primary-pure-white);
  border-top: 0.3px solid var(--color-gainsboro-200);
  border-bottom: 0.3px solid var(--color-gainsboro-200);
  box-sizing: border-box;
}
.categorises {
  position: absolute;
  top: 27.5%;
  left: 5.59%;
}
.group-child82,
.rectangle-parent57 {
  position: absolute;
  height: 9.09%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 90.91%;
  left: 0;
}
.group-child82 {
  height: 100%;
  bottom: 0;
  background-color: var(--color-goldenrod);
  border-bottom: 0.3px solid var(--color-gainsboro-200);
  box-sizing: border-box;
}
.rent-machines1 {
  position: absolute;
  top: 27.5%;
  left: 5.59%;
  font-weight: 600;
}
.group-child83,
.rectangle-parent58 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.rectangle-parent58 {
  height: 9.09%;
  top: 9.09%;
  bottom: 81.82%;
  color: var(--primary-pure-white);
}
.group-child83 {
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: var(--primary-pure-white);
  border-bottom: 0.3px solid var(--color-gainsboro-200);
  box-sizing: border-box;
}
.heavy-machinery {
  position: absolute;
  top: 27.5%;
  left: 19.41%;
}
.rectangle-parent59,
.rectangle-parent60,
.rectangle-parent61 {
  position: absolute;
  height: 9.09%;
  width: 100%;
  top: 18.18%;
  right: 0;
  bottom: 72.73%;
  left: 0;
}
.rectangle-parent60,
.rectangle-parent61 {
  top: 45.45%;
  bottom: 45.45%;
}
.rectangle-parent61 {
  top: 27.27%;
  bottom: 63.64%;
}
.rectangle-parent62,
.rectangle-parent63,
.rectangle-parent64 {
  position: absolute;
  height: 9.09%;
  width: 100%;
  top: 54.55%;
  right: 0;
  bottom: 36.36%;
  left: 0;
}
.rectangle-parent63,
.rectangle-parent64 {
  top: 36.36%;
  bottom: 54.55%;
}
.rectangle-parent64 {
  top: 63.64%;
  bottom: 27.27%;
  cursor: pointer;
}
.rectangle-parent65,
.rectangle-parent66,
.rectangle-parent67 {
  position: absolute;
  height: 9.09%;
  width: 100%;
  top: 72.73%;
  right: 0;
  bottom: 18.18%;
  left: 0;
}
.rectangle-parent66,
.rectangle-parent67 {
  top: 81.82%;
  bottom: 9.09%;
}
.rectangle-parent67 {
  top: 90.91%;
  bottom: 0;
}
.mingcutedown-fill-icon7,
.mingcutedown-fill-icon8,
.mingcutedown-fill-icon9 {
  position: absolute;
  height: 3.64%;
  width: 4.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mingcutedown-fill-icon7 {
  top: 2.82%;
  right: 5.15%;
  bottom: 93.55%;
  left: 90.47%;
  cursor: pointer;
}
.mingcutedown-fill-icon8,
.mingcutedown-fill-icon9 {
  top: 20.91%;
  right: 83.85%;
  bottom: 75.45%;
  left: 11.76%;
}
.mingcutedown-fill-icon9 {
  top: 30%;
  bottom: 66.36%;
}
.group-icon1,
.mingcutedown-fill-icon10,
.mingcutedown-fill-icon11,
.mingcutedown-fill-icon12,
.mingcutedown-fill-icon13 {
  position: absolute;
  height: 3.64%;
  width: 4.38%;
  top: 39.09%;
  right: 83.85%;
  bottom: 57.27%;
  left: 11.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon1,
.mingcutedown-fill-icon11,
.mingcutedown-fill-icon12,
.mingcutedown-fill-icon13 {
  top: 48.18%;
  bottom: 48.18%;
}
.group-icon1,
.mingcutedown-fill-icon12,
.mingcutedown-fill-icon13 {
  top: 57.27%;
  bottom: 39.09%;
}
.group-icon1,
.mingcutedown-fill-icon13 {
  top: 66.36%;
  bottom: 30%;
}
.group-icon1 {
  height: 3.39%;
  width: 4.71%;
  top: 11.95%;
  right: 5%;
  bottom: 84.66%;
  left: 90.29%;
}
.mingcutedown-fill-icon14,
.mingcutedown-fill-icon15,
.mingcutedown-fill-icon16 {
  position: absolute;
  height: 3.64%;
  width: 4.38%;
  top: 75.45%;
  right: 5.15%;
  bottom: 20.91%;
  left: 90.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mingcutedown-fill-icon15,
.mingcutedown-fill-icon16 {
  top: 84.55%;
  bottom: 11.82%;
}
.mingcutedown-fill-icon16 {
  top: 93.64%;
  bottom: 2.73%;
}
.group-parent9 {
  position: absolute;
  top: 40px;
  left: 0;
  border-radius: 0 0 var(--br-7xs) var(--br-7xs);
  background-color: var(--primary-pure-white);
  width: 340px;
  height: 440px;
  overflow: hidden;
}
.instance-parent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.mingcutedown-fill-icon17 {
  position: absolute;
  height: 3.1%;
  width: 4.71%;
  top: 2.71%;
  right: 5%;
  bottom: 94.19%;
  left: 90.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.group-root {
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 480px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-500);
  font-family: var(--font-inter);
}
