.rectangle {
  position: absolute;
  height: 59.12%;
  width: 100%;
  top: 31.75%;
  right: 0;
  bottom: 9.12%;
  left: 0;
  background-color: var(--secondary-off-grey);
}
.frame-child4 {
  position: absolute;
  top: 261px;
  left: 0;
  background-color: var(--primary-pure-white);
  width: 430px;
  height: 48px;
}
.frame-child5 {
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-silver);
  box-shadow: 0 21px 17px -16px rgba(255, 255, 255, 0.25);
  width: 300px;
}
.frame-child5,
.frame-child6,
.rectangle-parent4 {
  position: absolute;
  top: 0;
  height: 160px;
}
.frame-child6 {
  left: 312px;
  border-radius: var(--br-7xs);
  background-color: var(--color-silver);
  box-shadow: 0 21px 17px -16px rgba(255, 255, 255, 0.25);
  width: 300px;
}
.rectangle-parent4 {
  left: 20px;
  width: 410px;
}
.all-items1,
.job-seekers1 {
  position: absolute;
  top: 333px;
  left: 21px;
  font-weight: 500;
}
.job-seekers1 {
  top: 335px;
  left: 314px;
  font-size: var(--font-size-sm);
  color: var(--color-goldenrod);
  text-align: right;
}
.group-child3,
.group-child4 {
  position: absolute;
  height: 6.8%;
  width: 100%;
  top: 18.2%;
  right: 0;
  bottom: 75%;
  left: 0;
  background-color: var(--color-goldenrod);
}
.group-child4 {
  height: 3.83%;
  width: 9.3%;
  top: 19.54%;
  right: 4.65%;
  bottom: 76.63%;
  left: 86.05%;
  border-radius: var(--br-7xs);
  background-color: var(--primary-pure-white);
}
.carbonlocation-icon1 {
  position: absolute;
  height: 1.92%;
  width: 4.65%;
  top: 20.5%;
  right: 6.98%;
  bottom: 77.59%;
  left: 88.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 937px;
}
.frame-child7,
.group-icon {
  position: absolute;
  top: 659px;
  left: 339px;
  width: 78px;
  height: 78px;
}
.frame-child7 {
  top: 670px;
  cursor: pointer;
}
.frame-div {
  position: absolute;
  top: 110px;
  left: 0;
  width: 430px;
  height: 822px;
}
.sub-contractors1 {
  position: absolute;
  top: 0;
  left: 25px;
  font-weight: 500;
}
.material-symbolshome-outline-icon1 {
  position: absolute;
  height: 88.89%;
  width: 11.35%;
  top: 5.56%;
  right: 88.65%;
  bottom: 5.56%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sub-contractors-group {
  position: absolute;
  top: 386px;
  left: 18px;
  width: 141px;
  height: 18px;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray-600);
}
.job-seeker1 {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 932px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-300);
  font-family: var(--font-ibm-plex-sans);
}


/* extra */

.dummy-product-icon {
  top: 15px;
  margin-left: 30px;
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 70px;
}
.name-here1,
.painting1 {
  left: 0;
  letter-spacing: 0.2px;
}
.name-here1 {
  top: -12px;
  font-weight: 500;
}
.painting1 {
  font-size: var(--font-size-base);
  color: var(--color-goldenrod);
  text-decoration: none;
}
.years-of-experience2 {
  left: 0.88%;
  font-weight: 500;
  font-family: var(--font-ibm-plex-sans);
  color: var(--color-forestgreen);
}
.name-here-group {
  top: 32px;
  left: 9px;
  width: 123px;
  height: 36px;
}
.product-inner,
.vector-icon49 {
  top: 148px;
  margin-left: 10px;
  width: 113px;
  height: 56px;
}
.vector-icon49 {
  height: 61.36%;
  width: 12.36%;
  top: 22.73%;
  right: 89.64%;
  bottom: 15.91%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div38 {
  height: 100%;
  width: 100%;
  font-weight: 500;
  
}
.product-child {
  height: 5.74%;
  width: 100%;
  margin-top: 5px;
  right: 42.05%;
  bottom: 6%;
  margin-left: 0;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-200);
  font-family: var(--font-ibm-plex-sans);
  display: grid;
  gap: 5px;
}
.product {
  position: relative;
  display: grid;
  top: 383px;
  left: 21px;
  box-shadow: var(--card-product-list);
  width: 185px;
  height: 230px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--primary-navy-black);
  font-family: var(--font-dm-sans);
  grid-template-columns: repeat(2, 1fr);
  gap: 15px; 
}

.productgroup{
  padding: 10px;
  background-color: var(--primary-pure-white);
  border-radius: var(--br-3xs);
}