.verification-child {
  position: absolute;
  height: 7.4%;
  width: 56.51%;
  top: 4.83%;
  right: 21.86%;
  bottom: 87.77%;
  left: 21.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.more {
  position: absolute;
  top: 21.46%;
  left: 25.35%;
  font-size: var(--font-size-6xl);
  font-family: var(--font-inter);
  color: var(--primary-navy-black);
}
.group-child97 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-goldenrod);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  cursor: pointer;
}
.save-update {
  position: absolute;
  top: 19.05%;
  left: 32.74%;
  font-weight: 500;
}
.rectangle-parent73 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.verification-inner {
  position: absolute;
  height: 4.51%;
  width: 78.14%;
  top: 53.33%;
  right: 10.93%;
  bottom: 42.17%;
  left: 10.93%;
  font-size: var(--font-size-xl);
  color: var(--primary-pure-white);
}
.group-child98 {
  position: absolute;
  height: 64.62%;
  width: 100%;
  top: 35.38%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--primary-pure-white);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
}
.new-password1 {
  position: absolute;
  top: 0;
  left: 0;
}
.rectangle-parent74,
.rectangle-parent75 {
  position: absolute;
  height: 6.97%;
  width: 78.14%;
  top: 33.91%;
  right: 10.93%;
  bottom: 59.12%;
  left: 10.93%;
  text-align: left;
}
.rectangle-parent75 {
  top: 42.49%;
  bottom: 50.54%;
}
.mdihide-icon3,
.mdihide-icon4 {
  position: absolute;
  height: 1.72%;
  width: 3.72%;
  top: 37.77%;
  right: 17.21%;
  bottom: 60.52%;
  left: 79.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mdihide-icon4 {
  top: 46.35%;
  bottom: 51.93%;
}
.verification {
  position: relative;
  background-color: var(--primary-pure-white);
  width: 100%;
  height: 932px;
  overflow-y: auto;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--system-colours-label-colour-primary-light);
  font-family: var(--font-ibm-plex-sans);
}
