.component-child,
.component-item {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.component-child {
  width: 100%;
  right: 0;
  border-radius: var(--br-7xs);
  background-color: var(--primary-pure-white);
  box-shadow: 0 13px 12px -16px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.component-item {
  width: 30.23%;
  right: 69.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.contractor-name-here,
.roof-design {
  position: absolute;
  top: 27%;
  left: 36.95%;
  font-weight: 500;
}
.roof-design {
  top: 55%;
  font-size: var(--font-size-sm);
  color: var(--color-goldenrod);
}
.rectangle-parent {
  width: 387px;
  height: 100px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  font-family: var(--font-ibm-plex-sans);
}
