.help1 {
  position: absolute;
  top: 110px;
  left: 189px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-darkslategray-200);
  text-align: center;
}
.group-child17 {
  top: 0;
  border-radius: var(--br-3xs);
  box-shadow: var(--card-product-list);
  width: 388px;
  height: 537px;
}
.group-child17,
.group-child18,
.group-child19 {
  position: absolute;
  left: 0;
  background-color: var(--primary-pure-white);
}
.group-child18 {
  top: 567px;
  border-radius: var(--br-3xs);
  box-shadow: var(--card-product-list);
  width: 388px;
  height: 755px;
}
.group-child19 {
  top: 0;
  border-radius: var(--br-6xs);
  width: 335px;
  height: 80px;
}
.group-child20 {
  position: absolute;
  top: 16px;
  left: 17px;
  border-radius: 50%;
  background-color: var(--color-lemonchiffon);
  width: 48px;
  height: 48px;
}
.material-symbolscall-icon {
  position: absolute;
  top: 25px;
  left: 26px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.phone-numbers {
  position: absolute;
  top: 17px;
  left: 89px;
  font-weight: 600;
}
.div7 {
  position: absolute;
  top: 45px;
  left: 90px;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-200);
}
.rectangle-parent13 {
  position: absolute;
  top: 146px;
  left: 27px;
  width: 335px;
  height: 80px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-300);
}
.carbonlocation-filled-icon,
.icbaseline-email-icon {
  position: absolute;
  top: 363px;
  left: 53px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.carbonlocation-filled-icon {
  top: 267px;
}
.customer-support,
.send-us-a {
  position: absolute;
  top: 35px;
  left: 27px;
  font-weight: 600;
}
.send-us-a {
  top: 602px;
}
.for-general-inquiries,
.have-a-specific {
  position: absolute;
  top: 73px;
  left: 30px;
  font-size: var(--font-size-sm);
  font-weight: 300;
  color: var(--color-dimgray-600);
  display: inline-block;
  width: 332px;
}
.have-a-specific {
  top: 640px;
}
.logosfacebook-icon,
.logoswhatsapp-icon,
.skill-iconstwitter {
  position: absolute;
  top: 463px;
  left: 231.7px;
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.logosfacebook-icon,
.logoswhatsapp-icon {
  left: 172px;
  width: 35.7px;
}
.logosfacebook-icon {
  left: 112px;
  width: 36px;
}
.rectangle-parent12 {
  position: absolute;
  top: 171px;
  left: 21px;
  width: 388px;
  height: 1322px;
  font-size: var(--font-size-xl);
  color: var(--color-goldenrod);
}
.group-child21 {
  position: absolute;
  top: 23px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--primary-pure-white);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 336px;
  height: 42px;
}
.help-child,
.rectangle-parent14 {
  position: absolute;
  top: 899px;
  left: 52px;
  width: 336px;
  height: 65px;
}
.help-child {
  top: 1003px;
  border-radius: var(--br-xs);
  background-color: var(--primary-pure-white);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  height: 42px;
}
.email1,
.rectangle-parent15 {
  position: absolute;
  top: 980px;
  left: 52px;
}
.rectangle-parent15 {
  top: 1061px;
  width: 336px;
  height: 65px;
}
.address {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child24,
.rectangle-parent16 {
  position: absolute;
  top: 1142px;
  left: 52px;
  width: 336px;
  height: 65px;
}
.group-child24 {
  top: 23px;
  left: 0;
  width: 100%;
  border-radius: var(--br-xs);
  background-color: var(--primary-pure-white);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  height: 127px;
  word-wrap: break-word;
  resize: vertical;
}
.group-child25,
.rectangle-parent17 {
  position: absolute;
  top: 1223px;
  left: 52px;
  width: 336px;
  height: 100px;
  word-wrap: break-word;
  resize: vertical;

}
.group-child25 {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-goldenrod);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  height: 42px;
}
.submit2 {
  position: absolute;
  top: 19.05%;
  left: 40.18%;
  font-weight: 500;
}
.rectangle-parent18 {
  position: absolute;
  top: 1413px;
  left: 52px;
  width: 336px;
  height: 42px;
  font-size: var(--font-size-xl);
  color: var(--primary-pure-white);
}
.help {
  position: relative;
  background-color: var(--secondary-off-grey);
  width: 100%;
  height: 1576px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--system-colours-label-colour-primary-light);
  font-family: var(--font-ibm-plex-sans);
}
