.add-shop-item-child1 {
  position: absolute;
  top: 110px;
  left: 21px;
  border-radius: var(--br-5xs);
  background-color: var(--primary-pure-white);
  width: 388px;
  height: 730px;
}
.your-shop1 {
  position: absolute;
  top: 127px;
  left: 70px;
  font-weight: 500;
}
.pharrow-left-bold-icon7 {
  position: absolute;
  top: 130px;
  left: 37px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.add-shop-item-child2 {
  position: absolute;
  top: 771px;
  left: 341px;
  width: 78px;
  height: 78px;
  cursor: pointer;
}
.add-shop-item-child3 {
  position: absolute;
  top: 83px;
  left: 0;
  background-color: var(--color-gray-800);
  width: 430px;
  height: 1124px;
}
.add-shop-item3 {
  position: absolute;
  top: 46px;
  left: 111px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-darkslategray-200);
  text-align: center;
}
.group-child35 {
  position: absolute;
  top: 23px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--primary-pure-white);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 336px;
  height: 42px;
}
.item-name1 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-child16,
.rectangle-parent28 {
  position: absolute;
  top: 140px;
  left: 25px;
  width: 336px;
  height: 65px;
}
.frame-child16 {
  top: 244px;
  border-radius: var(--br-xs);
  background-color: var(--primary-pure-white);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  height: 42px;
}
.icon-park-soliddown-one2 {
  position: absolute;
  top: 258px;
  left: 318px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.frame-child17,
.frame-child18 {
  position: absolute;
  top: 406px;
  left: 25px;
  border-radius: var(--br-xs);
  background-color: var(--primary-pure-white);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 336px;
  height: 42px;
}
.frame-child18 {
  top: 325px;
}
.department1,
.sub-category {
  position: absolute;
  top: 221px;
  left: 25px;
}
.sub-category {
  top: 383px;
}
.category-type,
.rectangle-parent29 {
  position: absolute;
  top: 302px;
  left: 25px;
}
.rectangle-parent29 {
  top: 464px;
  width: 336px;
  height: 65px;
}
.group-child39,
.rectangle-parent30,
.rectangle-parent31 {
  position: absolute;
  top: 630px;
  left: 25px;
  width: 336px;
  height: 65px;
}
.group-child39,
.rectangle-parent31 {
  top: 711px;
}
.group-child39 {
  top: 23px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--primary-pure-white);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  height: 127px;
}
.rectangle-parent32 {
  position: absolute;
  top: 792px;
  left: 25px;
  width: 336px;
  height: 150px;
}
.contact-number-2-if-any-container {
  position: absolute;
  top: 549px;
  left: 25px;
  width: 139px;
  height: 16px;
}
.frame-child19,
.rectangle-parent33 {
  position: absolute;
  left: 25px;
  width: 336px;
}
.rectangle-parent33 {
  top: 383px;
  height: 65px;
  display: none;
}
.frame-child19 {
  top: 568px;
  border-radius: var(--br-xs);
  background-color: var(--primary-pure-white);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  height: 42px;
}
.upload-cv3 {
  position: absolute;
  top: 464px;
  left: 25px;
  display: none;
}
.vector-icon21 {
  position: absolute;
  height: 1.63%;
  width: 4.47%;
  top: 70.38%;
  right: 13.62%;
  bottom: 27.99%;
  left: 81.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child41 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-goldenrod);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 336px;
  height: 42px;
}
.add-item1 {
  position: absolute;
  top: 19.05%;
  left: 37.2%;
  font-weight: 500;
}
.rectangle-parent34 {
  position: absolute;
  top: 981px;
  left: 25px;
  width: 336px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--primary-pure-white);
}
.icround-close-icon3 {
  position: absolute;
  top: 10px;
  left: 348px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  cursor: pointer;
}
.icon-park-soliddown-one3,
.icon-park-soliddown-one4 {
  position: absolute;
  top: 338px;
  left: 318px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.icon-park-soliddown-one4 {
  top: 419px;
}
.add-shop-item-group,
.icons-bar-child24 {
  position: absolute;
  background-color: var(--primary-pure-white);
}
.add-shop-item-group {
  top: 113px;
  left: 20px;
  border-radius: var(--br-xl);
  width: 387px;
  height: 1060px;
  overflow: hidden;
  font-size: var(--font-size-xs);
  color: var(--system-colours-label-colour-primary-light);
}

.add-shop-item2 {
  position: relative;
  background-color: var(--color-whitesmoke-300);
  width: 100%;
  height: 1276px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-600);
  font-family: var(--font-ibm-plex-sans);
}
