.company-name-here,
.div5 {
  position: absolute;
  top: 0;
  left: 16.2%;
  font-weight: 500;
}
.div5 {
  top: 5.08%;
  font-size: var(--font-size-xs);
}
.ellipse-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gainsboro-300);
  width: 48px;
  height: 48px;
}
.group-child7 {
  position: absolute;
  top: 61px;
  left: 1px;
  border-radius: var(--br-base);
  width: 388px;
  height: 365px;
  object-fit: cover;
}
.bishare-icon {
  position: absolute;
  top: 441px;
  left: 358px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.group-child8 {
  position: absolute;
  top: 436px;
  left: 353px;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-darkorange);
  box-sizing: border-box;
  width: 36px;
  height: 36px;
}
.company-name-here-parent {
  position: absolute;
  height: 50.64%;
  width: 90.47%;
  top: 11.8%;
  right: 4.88%;
  bottom: 37.55%;
  left: 4.65%;
}
.bishare-icon1 {
  position: absolute;
  top: 441px;
  left: 358px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.company-name-here-group {
  position: absolute;
  height: 50.64%;
  width: 90.47%;
  top: 65.67%;
  right: 4.88%;
  bottom: -16.31%;
  left: 4.65%;
}
.group-child12 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-orange-100);
  width: 116px;
  height: 36px;
}
.apply-now {
  position: absolute;
  top: 6.6px;
  left: 23px;
  font-weight: 500;
  display: inline-block;
  width: 70px;
  height: 18px;
}
.rectangle-parent7 {
  position: absolute;
  top: 546px;
  left: 20px;
  width: 116px;
  height: 36px;
  font-size: var(--font-size-sm);
  color: var(--primary-pure-white);
}
.job-vacancies-child {
  position: absolute;
  top: 79px;
  left: 0;
  background-color: var(--color-gray-800);
  width: 430px;
  height: 778px;
}
.apply-this-job {
  position: absolute;
  top: 46px;
  left: 118px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-darkslategray-200);
  text-align: center;
}
.group-child13 {
  position: absolute;
  top: 23px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--primary-pure-white);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 336px;
  height: 42px;
}
.frame-child11,
.rectangle-parent8 {
  position: absolute;
  top: 140px;
  left: 25px;
  width: 336px;
  height: 65px;
}
.frame-child11 {
  top: 244px;
  border-radius: var(--br-xs);
  background-color: var(--primary-pure-white);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  height: 42px;
}
.email,
.job-position {
  position: absolute;
  top: 221px;
  left: 25px;
}
.email {
  top: 0;
  left: 0;
}
.frame-child12,
.rectangle-parent10,
.rectangle-parent9 {
  position: absolute;
  top: 302px;
  left: 25px;
  width: 336px;
  height: 65px;
}
.frame-child12,
.rectangle-parent10 {
  top: 383px;
}
.frame-child12 {
  top: 487px;
  border-radius: var(--br-xs);
  background-color: var(--primary-pure-white);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  height: 42px;
}
.upload-cv1 {
  position: absolute;
  top: 464px;
  left: 25px;
}
.mask-group-icon1,
.vector-icon15 {
  position: absolute;
  height: 2.44%;
  width: 4.47%;
  top: 70.52%;
  right: 13.62%;
  bottom: 27.03%;
  left: 81.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mask-group-icon1 {
  height: 0.75%;
  width: 2.4%;
  top: 37.1%;
  right: 14.57%;
  bottom: 62.15%;
  left: 83.02%;
}
.group-child16 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-goldenrod);
  border: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 336px;
  height: 42px;
}
.submit1 {
  position: absolute;
  top: 19.05%;
  left: 40.18%;
  font-weight: 500;
}
.rectangle-parent11 {
  position: absolute;
  top: 602px;
  left: 25px;
  width: 336px;
  height: 42px;
  font-size: var(--font-size-xl);
  color: var(--primary-pure-white);
}
.icround-close-icon1 {
  position: absolute;
  top: 10px;
  left: 348px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  cursor: pointer;
}
.apply-this-job-parent,
.icons-bar-child16 {
  position: absolute;
  background-color: var(--primary-pure-white);
}
.apply-this-job-parent {
  top: 110px;
  left: 22px;
  border-radius: var(--br-xl);
  width: 387px;
  height: 708px;
  overflow: hidden;
  font-size: var(--font-size-xs);
  color: var(--system-colours-label-colour-primary-light);
}
.job-vacancies {
  position: relative;
  background-color: var(--color-whitesmoke-300);
  width: 100%;
  height: 698.2px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-700);
  font-family: var(--font-ibm-plex-sans);
}
