@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-ibm-plex-sans: "IBM Plex Sans";
  --font-inter: Inter;
  --font-dm-sans: "DM Sans";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-3xs: 10px;
  --font-size-xs: 12px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-6xl: 25px;
  --font-size-mid: 17px;

  /* Colors */
  --primary-pure-white: #fff;
  --color-darkslategray-100: #414141;
  --color-darkslategray-200: #403e3e;
  --color-darkslategray-300: #3c3c3c;
  --system-colours-label-colour-secondary-light: rgba(60, 60, 67, 0.6);
  --color-goldenrod: #f4b421;
  --color-dimgray-100: #706d6d;
  --color-dimgray-200: #706c6c;
  --color-dimgray-300: #606060;
  --color-dimgray-400: #5f5f5f;
  --color-dimgray-500: #5e5b5b;
  --color-dimgray-600: #5a5757;
  --color-dimgray-700: #515151;
  --color-whitesmoke-100: #f9f9f9;
  --color-whitesmoke-200: #f3f3f3;
  --color-whitesmoke-300: #f1f1f1;
  --color-whitesmoke-400: #f0f0f0;
  --color-whitesmoke-500: #efefef;
  --secondary-off-grey: #fafafa;
  --color-gray-100: #8c8c8c;
  --color-gray-200: #8b8b8b;
  --color-gray-300: #838589;
  --color-gray-400: #818181;
  --color-gray-500: #2d2b2e;
  --primary-navy-black: #0c1a30;
  --color-gray-600: #020226;
  --color-gray-700: rgba(0, 0, 0, 0.2);
  --color-gray-800: rgba(0, 0, 0, 0.5);
  --color-forestgreen: #189a3c;
  --color-darkgray-100: #b0b2b7;
  --color-darkgray-200: #b4b0b0;
  --color-darkgray-300: #b1b1b1;
  --color-darkgray-400: #a19f9f;
  --color-darkgray-500: #9f9f9f;
  --color-darkgray-600: #959595;
  --color-lightgray: #cecece;
  --system-colours-label-colour-primary-light: #000;
  --color-silver: #c4c4c4;
  --color-orange-100: #ff9c06;
  --color-orange-200: rgba(255, 156, 6, 0.7);
  --color-darkorange: #fc7004;
  --color-gainsboro-100: #e8e8e8;
  --color-gainsboro-200: #e0e0e0;
  --color-gainsboro-300: #d9d9d9;
  --color-lemonchiffon: #fff7cb;
  --color-tomato: #ff5e5e;

  /* Paddings */
  --padding-7xs: 6px;
  --padding-14xl: 33px;
  --padding-9xl: 28px;
  --padding-9xs: 4px;
  --padding-8xl: 27px;
  --padding-12xs: 1px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-7xs: 6px;
  --br-6xs: 7px;
  --br-xs: 12px;
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-3xs: 10px;
  --br-base: 16px;
  --br-8xs: 5px;
  --br-lg: 18px;

  /* Effects */
  --card-product-list: 0px 1px 3px rgba(0, 0, 0, 0.05);
}
