.frame-child45,
.frame-child46 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-silver);
  box-shadow: 0 21px 17px -16px rgba(255, 255, 255, 0.25);
  width: 300px;
  height: 160px;
}
.frame-child46 {
  left: 312px;
}
.rectangle-parent109 {
  position: absolute;
  top: 0;
  left: 20px;
  width: 410px;
  height: 160px;
}
.all-items6,
.items2 {
  position: absolute;
  top: 333px;
  left: 21px;
  font-weight: 500;
}
.items2 {
  top: 335px;
  left: 352px;
  font-size: var(--font-size-sm);
  color: var(--color-goldenrod);
  text-align: right;
}
.group-child144,
.group-child145 {
  position: absolute;
  height: 20.06%;
  width: 100%;
  top: 53.67%;
  right: 0;
  bottom: 26.27%;
  left: 0;
  background-color: var(--color-goldenrod);
}
.group-child145 {
  height: 11.3%;
  width: 9.3%;
  top: 57.63%;
  right: 4.65%;
  bottom: 31.07%;
  left: 86.05%;
  border-radius: var(--br-7xs);
  background-color: var(--primary-pure-white);
}
.carbonlocation-icon6 {
  position: absolute;
  height: 5.65%;
  width: 4.65%;
  top: 60.45%;
  right: 6.98%;
  bottom: 33.9%;
  left: 88.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.all-items7 {
  position: relative;
  font-weight: 500;
}
.all-items-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-goldenrod);
  height: 26px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs) var(--padding-base);
  box-sizing: border-box;
  color: var(--primary-pure-white);
}
.power-tools {
  position: relative;
}
.power-tools-wrapper,
.sample-items-wrapper {
  position: absolute;
  top: 0;
  left: 95px;
  border-radius: var(--br-lg);
  background-color: var(--color-gainsboro-100);
  height: 26px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs) var(--padding-base);
  box-sizing: border-box;
}
.sample-items-wrapper {
  left: 205px;
}
.sample-items1 {
  position: absolute;
  top: 5px;
  left: 330px;
}
.frame-parent5,
.frame-parent6 {
  position: absolute;
  top: 277px;
  left: 20px;
  width: 410px;
  height: 26px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.frame-parent5 {
  top: 0;
  left: 0;
  width: 430px;
  height: 354px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-300);
  font-family: var(--font-ibm-plex-sans);
}
