.onboarding-child,
.onboarding-item {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.onboarding-child {
  height: 7.4%;
  width: 56.51%;
  top: 4.83%;
  right: 21.86%;
  bottom: 87.77%;
  left: 21.63%;
  object-fit: cover;
}
.onboarding-item {
  height: 6.76%;
  width: 14.65%;
  top: 76.82%;
  right: 42.79%;
  bottom: 16.42%;
  left: 42.56%;
  cursor: pointer;
}
.onboarding-inner {
  position: absolute;
  top: 149px;
  left: 69px;
  width: 297px;
  height: 289px;
  object-fit: cover;
}
.skip {
  position: absolute;
  top: 798px;
  left: 200px;
  letter-spacing: -0.8px;
  line-height: 34px;
}
.onboarding {
  position: relative;
  background-color: var(--primary-pure-white);
  width: 100%;
  height: 932px;
  overflow-y: auto;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--system-colours-label-colour-primary-light);
  font-family: var(--font-inter);
}
