.rectangle-div,
.rectangle-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.rectangle-div {
  width: 100%;
  right: 0;
  border-radius: var(--br-7xs);
  background-color: var(--primary-pure-white);
  box-shadow: 0 13px 12px -16px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.rectangle-icon {
  width: 30.23%;
  right: 69.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.item-name-here,
.rs-0000 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.rs-0000 {
  top: 67.19%;
  color: var(--color-goldenrod);
  text-align: left;
}
.item-name-here-parent,
.vector-icon1 {
  position: absolute;
  height: 64%;
  width: 31.01%;
  top: 18%;
  right: 32.04%;
  bottom: 18%;
  left: 36.95%;
}
.vector-icon1 {
  height: 61.54%;
  width: 10.39%;
  top: 23.08%;
  right: 89.61%;
  bottom: 15.38%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div1 {
  position: absolute;
  top: 0;
  left: 18.18%;
  font-weight: 500;
}
.group-container,
.vector-group {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-container {
  height: 13%;
  width: 19.9%;
  top: 45%;
  right: 43.15%;
  bottom: 42%;
  left: 36.95%;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-200);
}
.rectangle-top {
  border-radius: var(--br-6xs);
  width: 387px;
  height: 100px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  font-family: var(--font-ibm-plex-sans);
}
